---
import config from "@/config/config.json";

const { favicon, title }: { favicon: string; title: string } = config.site;
---

<a href="/" class="navbar-brand inline-flex items-center gap-2">
  <img
    src={favicon}
    alt={title}
    class="inline-block h-10 w-10"
    width="40"
    height="40"
  />
  <span class="text-2xl font-bold text-dark dark:text-darkmode-dark">
    AlexTac's Blog
  </span>
</a>
